*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:radial-gradient(circle at bottom right,#03211a 0%,#000 35%),
  #000;
  color: white;
}

.container {
  text-align: center;
}

/* Logo section */
.logo {
  margin-bottom: 25px;
}

.icon {
  width: 60px;
  height: 60px;
  margin: auto;
  background: #00c2a8;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.logo h1 {
  margin-top: 10px;
  font-size: 22px;
}

.logo p {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
}

/* Card */
.card {
  width: 400px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  text-align: left;
}

.card label {
  font-size: 13px;
  color: #ccc;
}

/* Input */
.input-box {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 10px;
  border-radius: 10px;

  background: #1f2937;
}

.input-box .icon {
  margin-right: 8px;
  font-size: 16px;
  width: auto;
  height: auto;
  background: none;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

/* Button */
.btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #00c2a8, #00b3ff);
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* Bottom text */
.bottom-text {
  margin-top: 12px;
  font-size: 12px;
  color: #aaa;
}

.bottom-text a {
  color: #00c2a8;
  text-decoration: none;
}