* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:radial-gradient(circle at bottom right,#03211a 0%,#000 35%),
  #000;
  color: white;
}

.container {
  text-align: center;
}

.logo .icon {
  width: 60px;
  height: 60px;
  margin: auto;
  background: #00d1a0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.logo h1 {
  margin-top: 10px;
}

.logo p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.card {
  width: 400px;
  background: #121212;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  opacity: 0.8;
}

.input-box {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
}

.input-box span {
  margin-right: 8px;
  opacity: 0.7;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  width: 100%;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #00d1a0, #00bcd4);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.login-text {
  margin-top: 12px;
  font-size: 12px;
  opacity: 0.7;
}

.login-text a {
  color: #00d1a0;
  text-decoration: none;
}

.message{
  margin-top:15px;
  text-align:center;
  color:#ff5b5b;
  font-size:14px;
}